

ul{
    list-style: none;
}
a {
    text-decoration: none;
}

li a{
    color: rgb(128, 128, 128);
}
.active {
    color: rgb(230, 227, 227);
}

.container {
    
    max-height: 2%;
    padding: 2%;
    align-items: center;
    background-color:   rgba(13, 17, 23,0.85);
    display: flex;
    justify-content: space-between;

    
}
.footer {
    height: 50px;
    padding: 20px;
    text-align: center;
}

.nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 2rem;

}

#logo {
    width: 150px;
    height: 80px;
}

.btn {
	
	padding: 0.5rem 1rem;
	font-size: 1.1rem;
    color: rgb(236, 233, 233);
	border-radius: 5px;
	background-color: rgb(15, 6, 6);
	cursor: pointer;
}


section {
    background: rgb(31, 25, 25);
    box-sizing: border-box;
    padding: 50px ;
    display: flex;
    justify-content: space-between;
    
}
.div {
    box-sizing: border-box;
    display: inline-block;
    text-align: center;
    width: calc(50% - .5em);
    
}

img {
    max-width: 20%;
    max-height: 20%;
    width: auto; 
    height: auto;
}

#category img {

    border-radius: 3%;
}
